<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
</head>
<body>
    <header>
        <h1>Airbnb</h1>
    </header>
    <main>
        <h2>Register Your Home</h2>
        <form action="/host/add-home" method="POST">
            <label for="homeName">Home Name:</label>
            <input type="text" id="homeName" name="homeName" placeholder="Enter your Home Name" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>